.home_container {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 1rem;
}

/* .home_container h2 {
  text-align: center;
  font-size: 2.3rem;
  color: #ffc058;
} */
