.home_container {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 1rem;
}

@media (max-width: 950px) {
  .home_container {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .home_container {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 3rem;
  }
}

@media (max-width: 428px) {
  .home_container {
    grid-template-columns: 1fr;
    padding: 1rem 3rem;
  }
}
