.card_container {
  width: 100%;
  display: flex;
  gap: 0.8rem;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  color: #fff;
  overflow: hidden;
}

@media (max-width: 950px) {
  .card_container {
    gap: 0.5rem;
  }
}

.card_container img {
  width: 100%;
  transition: 0.5s;
  overflow: hidden;
  opacity: 0.8;
}

.card_container img:hover {
  transform: scale(1.01);
  opacity: 1;
}

.card_container h3 {
  font-size: 1.4rem;
  padding: 0.5rem;
}

@media (max-width: 950px) {
  .card_container h3 {
    font-size: 1rem;
  }
}

.average_container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.3rem;
  font-weight: bold;
}

@media (max-width: 950px) {
  .average_container {
    font-size: 0.9rem;
  }
}

.average_container .icon {
  color: #f9f871;
}

.link_btn {
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  color: #fff;
  background: #afa8ba;
  border-radius: 0.4rem;
  opacity: 0.7;
  text-align: center;
  font-weight: bold;
  border: 2px solid transparent;
  transition: 0.5s;
  outline: none;
}

@media (max-width: 930px) {
  .link_btn {
    font-size: 0.9rem;
  }
}

.link_btn:hover {
  opacity: 1;
  border-color: #47817e;
  background: #fff;
  color: #47817e;
}
