.navbar_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: #dcf2ff;
}

.logo_container,
.links_container {
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

@media (max-width: 600px) {
  .logo_container {
    display: none;
  }
}

.logo_container:hover {
  transform: scale(1.03);
}

.links_container a {
  font-weight: bold;
  font-size: 1.2rem;
  border: 2px solid transparent;
  opacity: 0.8;
  padding: 0 0.3rem;
  color: #dcf2ff;
}

.links_container a:hover {
  transition: 0.3s;
  border-left-color: #dcf2ff;
  opacity: 1;
}

form {
  display: flex;
  gap: 0.05rem;
  border: none;
}

form input,
button {
  padding: 0.3rem;
  color: #213841;
  transition: 0.5s;
  opacity: 0.7;
}

form input:hover,
button:hover {
  opacity: 1;
}

form input:focus {
  opacity: 1;
}

button {
  cursor: pointer;
  padding: 0.3rem 0.8rem;
}

.btn_icon {
  color: #213841;
}
