@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configurações globais css */
body,
html,
#root {
   width: 100%;
   min-height: 100vh;
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
   background: #09090b;
}

::-webkit-scrollbar {
   width: 8px;
}

::-webkit-scrollbar-track {
   background: #27272a;
}

::-webkit-scrollbar-thumb {
   background: #f4f4f5;
   border-radius: 1rem;
   border: 2px solid #27272a;
}
